*.log
.venv*/
venv/
__pycache__/
*.csv
.env
.ipynb_checkpoints/
*.pkl
node_modules/
dist/
build/
.vscode/
.idea/
.DS_Store
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.tox/
.coverage
htmlcov/
